body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  /* margin-left: 30px; */
  width: 200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.red-link {
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.red-link:hover,
.red-link:focus {
  background-color: #ca2c37;
}

.red-link:active {
  background-color: #ba2732;
}

.container {
  margin: 0 auto;
  width: 940px;
}

/* header */
.main-header {
  background-image: url(/img/header-bg.png);
  background-color: #f4f7f9;
  background-repeat: repeat;
  background-position: 0 0;

  margin-bottom: 60px;
}
/* upper header */
.upper-header {
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 45px;
}
/* wrapper */

.upper-header-wrapper {
  display: flex;
  align-items: center;

  height: 42px;
}

.upper-header a {
  color: #ffffff;
}

.logo {
  background-color: #ee3643;

  position: relative;
}

.logo::after {
  content: "";

  position: absolute;

  width: 220px;
  height: 5px;

  background-color: rgba(181, 41, 51, 1);

  bottom: -5px;
  right: 0px;
}

.logo img {
  padding: 12px 57px 12px 55px;

  display: block;
}

.logo:active {
  background-color: #ba2732;
}

.logo:active.logo::after {
  background-color: #8d1e26;
}

.search {
  display: flex;
  flex-grow: 1;

  position: relative;
}

.search input[type="search"] {
  background-color: inherit;

  border: none;

  padding: 14px 17px 12px 42px;

  position: relative;

  flex-grow: 1;
}

.search input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-icon {
  position: absolute;

  top: 33%;
  left: 17px;
}

.search-icon path {
  fill-opacity: 0.5;
}

.search input[type="search"]:hover + .search-icon path {
  fill-opacity: 1;
}

.search input[type="search"]:focus {
  color: #000;

  background-color: #fff;
}

input[type="search"]:focus + .search-icon path {
  fill: #ee3643;
  fill-opacity: 1;
}

.order-section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 450px;
}

.order-section a {
  padding: 9px 26px 9px 49px;

  box-sizing: border-box;

  width: 33.33%;
}

.bookmarks,
.cart {
  text-align: center;

  position: relative;
}

.order-section .bookmarks {
  padding: 9px 24px 9px 42px;
}

.bookmarks:focus-visible,
.cart:focus-visible,
.checkout:focus-visible,
.site-nav a:focus-visible {
  outline-style: solid;
  outline-color: white;
  outline-width: 3px;

  box-shadow: 0 0 20px 11px rgb(0 0 0 / 50%);
}

.bookmarks:active,
.cart:active {
  background-color: #161d29;

  color: rgba(255, 255, 255, 0.5);
}

.bookmarks:hover .bookmarks-icon path,
.cart:hover .cart-icon path {
  fill-opacity: 1;
}

.order-section .checkout {
  background-color: #63a63e;

  padding: 9px 16px 9px 19px;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks-icon,
.cart-icon {
  position: absolute;
  top: 33%;
  left: 20px;

  fill-opacity: 0.5;
}

.cart-icon {
  left: 26px;
}

/* middle header*/

.middle-header {
  font-size: 21px;
  margin-bottom: 40px;
}

.middle-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-left: 31px;
}

/* header contacts */

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;

  margin: 0;
}

.header-contacts .contacts-phone {
  display: block;
  position: relative;
  padding: 8px 48px 8px 74px;
  border: 3px solid #ffffff;
  text-align: center;
  color: #ee3643;
  font-weight: 700;
  margin-bottom: 4px;
}

.contacts-phone::before {
  content: "";

  position: absolute;
  top: 26%;
  left: 40px;

  background-image: url(/img/icon-phone.svg);

  width: 17.51px;
  height: 18.97px;
}

.location {
  font-size: 14px;
  color: #32425c;
  margin-right: 16px;
}

.user-nav {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding: 0;
  margin: 0;

  width: 281px;
}

.user-nav li {
  list-style: none;
}

.user-nav a {
  display: block;
  padding: 12px 24px 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-login a {
  position: relative;

  padding-left: 45px;
  padding-right: 27px;
}

.user-login .login-icon {
  position: absolute;
  top: 33%;
  left: 19px;
}

.user-login .login-icon path {
  fill-opacity: 0.5;
}

.user-nav a:hover,
.user-nav a:focus {
  color: #ee3643;
}

.user-nav a:hover .login-icon path {
  fill-opacity: 1;
}

.user-nav a:active {
  color: #c5c5c5;
}

.user-section-wrapper {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.user-section-buttons {
  list-style: none;
}

.user-section-buttons a {
  color: #32425c;
}

/* Navigation */

.main-nav {
  padding-bottom: 60px;
}

.site-nav {
  display: flex;
  justify-content: space-between;

  padding: 0 25px;
  padding-right: 18px;

  box-sizing: border-box;

  list-style: none;

  background-color: #32425c;

  box-shadow: inset 0px -5px 0px #293449;
}

.nav-item {
  flex-grow: 1;
}

.site-nav a {
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;

  text-align: center;
  color: #ffffff;
}

.site-nav li:hover,
.site-nav li:focus {
  background-color: #293449;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(255, 255, 255, 0.2);
}
/* main body */

/* breadcrumb */
.inner-page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #000000;
}

.inner-page a {
  color: inherit;
}

.breadcrumb-list {
  list-style: none;
}

.breadcrumb-list h5 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

/* inner page heading */
.inner-page h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.item-filter {
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.item-filter h3 {
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
}

.form-item-filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.form-item-filter button[type="submit"] {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}

/* sort */

.sort-item {
  background-color: #f7f3ec;
}

.sort-item-list {
  list-style: none;
}

.sort-item-list li {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}

.sort-item-list li:hover {
  border-bottom: 1px solid #ee3643;
}

.sort-item-list li:active,
.sort-item-current {
  color: #ee3643;

  border: none;
}

/* Доделать */
.sort-item-list-direction button {
}

/* features */

.features-list {
  display: grid;
  grid-template-areas:
    "materials tools veachle"
    "slider slider discount"
    "slider slider delivery";
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features-list > li {
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 20px 0 20px 22px;

  margin-bottom: 20px;

  width: 300px;

  box-sizing: border-box;
}

.features-list .features-slider {
  grid-area: slider;

  display: block;

  padding: 0;

  width: 620px;
  height: 266px;

  float: left;
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 9px;
  margin: 0;
}

.features-link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 135px;

  background-color: rgba(255, 255, 255, 0.35);

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;

  text-align: center;
}

.features-link:hover,
.features-link:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.features-link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-list svg {
  position: absolute;
  top: 24.9%;
  right: 10.7%;
}

.features-list .materials-icon {
  right: 15%;
}

.features-list .tools-icon {
  top: 26.9%;
}

.features-list .discount-icon {
  top: 20%;
  right: 15%;
}

.features-materials {
  background-color: #ffbf47;

  grid-area: materials;
}

.features-tools {
  background-color: #3bbce3;

  grid-area: tools;
}

.features-veachle {
  background-color: #dc91d8;

  grid-area: veachle;
}

.features-discount {
  background-color: #8ed78f;

  grid-area: discount;
}

.features-delivery {
  background-color: #ffc047;

  grid-area: delivery;
}

.features-slider figure {
  margin: 0;
}

.new {
  position: relative;
}

.new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 70px;

  background-image: url(/img/new-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider {
  position: relative;
}

.slider-indicators-list {
  position: absolute;
  bottom: 40px;
  left: 48%;

  width: 30px;

  display: flex;

  margin: 0 auto;
  padding: 0;

  border: 1px red;

  list-style: none;

  z-index: 1;
}

.slider-indicator {
  cursor: pointer;

  margin: 0 auto;

  width: 11px;
  height: 11px;

  border-radius: 6px;

  background-color: #fff;
}

.slider-indicator-current {
  position: relative;
}

.slider-indicator-current::after {
  content: "";

  position: absolute;
  top: 19%;
  right: 18%;

  width: 7px;
  height: 7px;

  border-radius: 4px;

  background-color: red;
}

.slider-btn {
  position: absolute;
  top: 46%;

  width: 32px;
  height: 33px;

  cursor: pointer;

  font-size: 50px;

  border: none;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  background-color: transparent;

  z-index: 1;
}

.slider-btn-prev {
  transform: rotate(225deg);
  left: 30px;
}

.slider-btn-next {
  transform: rotate(45deg);
  right: 26px;
}

.slider-slide {
  display: none;

  position: relative;
}

.slider-slide-current {
  display: block;
}

.slider-description {
  position: absolute;
  top: 24px;
  left: 24px;
}

.slider-link {
  position: absolute;
  bottom: 33px;
  left: 24px;
  display: block;
  width: 192px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: #ee3643;
}

.slider-link:hover,
.slider-link:focus {
  background-color: #ca2c37;
}

.slider-link:active {
  background-color: #ba2732;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* popular items */

.section-header {
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
}

.popular-items-list,
.catalog-item-list {
  list-style: none;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.popular-items-list,
.catalog-item-list li {
  border: 1px solid #eaeaea;
}

.popular-item,
.catalog-item {
  text-align: center;
  line-height: 20px;
}

.popular-item:hover,
.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-item a,
.catalog-item a {
  color: #000000;
  font-weight: 700;
}

.popular-item p,
.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-align: center;
  text-decoration-line: line-through;
  font-weight: 700;
}

.popular-item span,
.catalog-item span {
  color: #ffffff;
  text-align: center;
  font-weight: 700;

  background-color: #ee3643;
  /* background-image: url(/img/red-button.png);
  background-repeat: no-repeat;
  background-position: 0 0; */
}

/* pagination */

.page-link-list {
  list-style: none;
}

.page-link-list a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  padding: 10px 15px;
}

.page-link-list a:hover {
  border-color: #c5c5c5;
}

.page-link-list a:active {
  border-color: #ee3643;
}

.page-link-current a {
  color: #ffffff;

  background-color: #ee3643;
}

/* about-item */

.about-item {
  background-color: #f1f5f7;
}

.about-item h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-item p {
  font-size: 13px;
}

/* popular manufacturers */

.popular-manufacturers-list {
  list-style: none;
}

.popular-manufacturers-list li {
  border: 1px solid #eaeaea;
}

.popular-manufacturers-list li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-list li:active {
  opacity: 0.5;
}

/* Servises */
.servises {
  background-color: #f1f5f7;
}

.servises h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.servises p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.servises-list {
  list-style: none;
}

.servises-list h2 {
  font-size: 21px;
  color: #32425c;
  font-weight: 700;
}

.servises-btn {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;

  background-color: #32425c;
}

.services-current-btn {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  font-weight: 700;

  background-color: #ffffff;
}

.servises-btn:hover,
.servises-btn:focus {
  background-color: #293449;
}

/* About */
.about-contacts {
  color: black;
}

.about-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-delivery-list li {
  font-size: 18px;
  line-height: 24px;
}

/* footer */

.main-footer {
  background-color: #32425c;
}

.upper-footer p {
  color: #f3f7f9;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
}

.footer-site-nav a {
  color: #f1f5f7;
}

.footer-catalog-list a {
  color: #ffd180;
}

/* bottom footer */

.bottom-footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.bottom-footer a {
  color: #ffd180;
}

.bottom-footer a:hover {
  text-decoration-line: underline;
}

.bottom-footer a:active {
  color: #ee3643;
}

.bottom-footer img:hover {
  background-color: #ee3643;
}

/* cart */

.cart-added {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  text-align: center;
}

.cart-confirmation-wrapper h3 {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.cart-confirmation-buttons {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f1f1f1;
}

.cart-checkout {
  background-color: #ee3643;
}

.cart-continue {
  background-color: #ffffff;
}
