body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  /* margin-left: 30px; */
  width: 200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.red-link {
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  width: fit-content;

  display: block;
}

.red-link:hover,
.red-link:focus,
.cart-checkout:hover,
.cart-checkout:focus {
  background-color: #ca2c37;
}

.red-link:active,
.cart-checkout:active {
  background-color: #ba2732;
}

.container {
  margin: 0 auto;
  width: 940px;
}

/* header */
.main-header {
  background-image: url(/img/header-bg.png);
  background-color: #f4f7f9;
  background-repeat: repeat;
  background-position: 0 0;

  margin-bottom: 20px;

  padding-bottom: 60px;
}
/* upper header */
.upper-header {
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 45px;
}
/* wrapper */

.upper-header-wrapper {
  display: flex;
  align-items: center;

  height: 42px;
}

.upper-header a {
  color: #ffffff;
}

.logo img {
  background-color: #ee3643;

  box-shadow: inset 0 -5px rgba(0 0 0 / 24%);

  padding: 12px 57px 17px 55px;

  display: block;
}

.logo img:active {
  background-color: #ba2732;
}

.search {
  display: flex;
  flex-grow: 1;

  position: relative;
}

.search input[type="search"] {
  background-color: inherit;

  border: none;

  padding: 14px 17px 12px 42px;

  position: relative;

  flex-grow: 1;
}

.search input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-icon {
  position: absolute;

  top: 33%;
  left: 17px;
}

.search-icon path {
  fill-opacity: 0.5;
}

.search input[type="search"]:hover + .search-icon path {
  fill-opacity: 1;
}

.search input[type="search"]:focus {
  color: #000;

  background-color: #fff;
}

input[type="search"]:focus + .search-icon path {
  fill: #ee3643;
  fill-opacity: 1;
}

.order-section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 450px;
}

.order-section a {
  padding: 9px 21px 9px 49px;

  box-sizing: border-box;

  width: 33.33%;
}

.bookmarks,
.cart {
  text-align: center;

  position: relative;
}

.cart-full {
  background-color: #ee3643;
}

.order-section .bookmarks {
  padding: 9px 24px 9px 42px;
}

.bookmarks:focus-visible,
.cart:focus-visible,
.checkout:focus-visible,
.site-nav a:focus-visible {
  outline-style: solid;
  outline-color: white;
  outline-width: 3px;

  box-shadow: 0 0 20px 11px rgb(0 0 0 / 50%);
}

.bookmarks:active,
.cart:active {
  background-color: #161d29;

  color: rgba(255, 255, 255, 0.5);
}

.bookmarks:hover .bookmarks-icon path,
.cart:hover .cart-icon path {
  fill-opacity: 1;
}

.order-section .checkout {
  background-color: #63a63e;

  padding: 9px 16px 9px 19px;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks-icon,
.cart-icon {
  position: absolute;
  top: 33%;
  left: 20px;

  fill-opacity: 0.5;
}

.cart-icon {
  left: 26px;
}

/* middle header*/

.middle-header {
  font-size: 21px;
  margin-bottom: 40px;
}

.middle-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-left: 31px;
}

/* header contacts */

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;

  margin: 0;
}

.header-contacts .contacts-phone {
  display: block;
  position: relative;
  padding: 8px 39px 8px 74px;
  border: 3px solid #ffffff;
  text-align: center;
  color: #ee3643;
  font-weight: 700;
  margin-bottom: 4px;
}

.contacts-phone::before {
  content: "";

  position: absolute;
  top: 26%;
  left: 40px;

  background-image: url(/img/icon-phone.svg);

  width: 17.51px;
  height: 18.97px;
}

.location {
  font-size: 14px;
  color: #32425c;
  margin-right: 6px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;

  list-style: none;

  padding: 0;
  margin: 0;

  width: 300px;

  color: #000;
}

.user-nav-logged {
  display: block;
}

.user-nav-user {
  padding-right: 15px;
  margin: 0;

  word-break: break-word;
}

.user-nav-icon {
  padding-right: 18px;
  padding-left: 14px;
}

.user-nav-icon-logout {
  padding: 0;
}

.user-nav-icon-logout:hover path,
.user-nav-user:hover > .user-nav-icon-user path {
  fill: #3d546f;
}

.user-nav-user:active,
.user-nav-link:active {
  color: #32425c;
}

.user-nav-info {
  background-color: #fff;

  padding: 12px 0;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
}

.user-nav li {
  list-style: none;
}

.user-nav-list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.user-nav-link,
.user-login-link {
  display: block;
}

.user-login-link {
  position: relative;

  padding: 12px 24px 12px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-nav-item {
  position: relative;

  font-size: 16px;
  line-height: 18px;

  padding-right: 30px;
}

.user-nav-item:last-child {
  padding-right: 0;
}

.user-nav-item::after {
  content: "";

  position: absolute;
  top: 46%;
  right: 14px;

  width: 4px;
  height: 4px;
  border-radius: 2px;

  background-color: #32425c;
}

.user-nav-item:last-child::after {
  content: none;
}

.user-nav-link {
  color: #32425c;
}

.user-nav-logout {
  border: none;
  background-color: transparent;

  width: 21px;
  height: 18px;

  cursor: pointer;
}

.user-login .user-login-link {
  margin-right: 10px;
  padding-left: 48px;
}

.user-login .login-icon {
  position: absolute;
  top: 33%;
  left: 19px;
}

.user-login .login-icon path {
  fill-opacity: 0.5;
}

.user-nav a:hover,
.user-nav a:focus,
.cart-continue:hover,
.cart-continue:focus {
  color: #ee3643;
}

.user-nav a:hover .login-icon path {
  fill-opacity: 1;
}

.user-nav a:active,
.cart-continue:active {
  color: #c5c5c5;
}

.user-section-wrapper {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.user-section-buttons {
  list-style: none;
}

.user-section-buttons a {
  color: #32425c;
}

/* Navigation */

.main-nav {
}

.site-nav {
  display: flex;
  justify-content: space-between;

  padding: 0 25px;
  padding-right: 18px;

  box-sizing: border-box;

  list-style: none;

  background-color: #32425c;

  box-shadow: 0px 5px 0px #293449;
}

.nav-item {
  flex-grow: 1;
}

.site-nav a {
  display: block;
  padding-top: 16px;
  padding-bottom: 14px;

  text-align: center;
  color: #ffffff;
}

.site-nav li:hover,
.site-nav li:focus {
  background-color: #293449;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(255, 255, 255, 0.2);
}
/* main body */

/* breadcrumb */
.breadcrumb {
  margin-bottom: 47px;
}

.inner-page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: #000000;
}

/* .inner-page a {
  color: inherit;
} */

.breadcrumb-list {
  list-style: none;

  display: flex;
  align-items: baseline;

  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumb-list h5 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;

  margin: 0;
}

.breadcrumb-item {
  position: relative;

  margin-left: 19px;
  padding-right: 22px;
}

.breadcrumb-item:first-child {
  margin-left: 0;
}

.breadcrumb-item::after {
  content: "";

  position: absolute;
  top: 17%;
  right: 0;

  background-image: url(/img/icon-right-small.svg);
  width: 8px;
  height: 12.8px;
}

.breadcrumb-item:first-child::after {
  top: 33%;
}

.breadcrumb-item:last-child::after {
  content: none;
}

.breadcrumb-item-link {
  color: #000;
}

.breadcrumb-item-link:hover path,
.breadcrumb-item-link:focus path {
  fill: #3d546f;
}

/* inner page heading */
.container-catalog {
  margin-bottom: 60px;
}

.catalog-heading {
  font-size: 30px;
  line-height: 30px;
  color: #0c5576;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;

  margin: 0;
  margin-left: 27px;
}

/* catalog-filter  */
.catalog-filter {
  display: flex;
  flex-direction: column;

  margin-right: 20px;

  width: 220px;
}

.catalog-wrapper {
  display: flex;
}

.catalog-items-wrapper {
  display: flex;
  flex-direction: column;

  width: 700px;
}

/* filter */

.item-filter-heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f7f3ec;

  margin: 0;

  align-self: center;
}

.filter-form-heading {
  padding: 10px 18px;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.filter-fieldset {
  border: none;
  border-bottom: 1px solid #eeeeee;

  padding: 0;
  padding-bottom: 17px;

  margin: 0;
  margin-top: 16px;
}

.filter-fieldset:nth-child(3) {
  border-bottom: none;
}

.filter-range-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.filter-range-wrapper {
  background-color: #f7f3ec;

  width: 100%;

  padding: 39px 0;
  margin-bottom: 9px;
}

.filter-range-price {
  width: 95px;

  border: none;

  padding: 10px 7px;

  background-color: #f7f3ec;

  box-sizing: border-box;

  text-align: center;

  font-size: 17px;
  line-height: 18px;
}

.filter-range-indicator {
  position: relative;
}

.filter-range-indicator::before,
.filter-range-indicator::after {
  cursor: pointer;
}

.filter-range-indicator::before {
  content: "";

  position: absolute;
  top: -11px;

  width: 20px;
  height: 20px;

  border-radius: 10px;

  z-index: 2;

  background-color: #fff;
}

.filter-range-max::before {
  right: 38px;
}

.filter-range-min::before {
  left: -209px;
}

.filter-range-indicator::after {
  content: "";

  position: absolute;
  top: -3px;

  width: 4px;
  height: 4px;

  border-radius: 2px;

  z-index: 2;

  background-color: #ababab;
}

.filter-range-min::after {
  left: -201px;
}

.filter-range-max::after {
  right: 46px;
}

.fieldset-range {
  width: 220px;
}

.filter-range {
  width: 180px;
  height: 2px;

  display: block;

  margin: 0 auto;

  background: #00a25d;

  appearance: none;

  box-shadow: inset 1px 1px 5px 2px silver;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 152px;
  height: 2px;
  background: #00a25d;
}

.filter-range-separator {
  margin: 0 7.5px;
}

.supply-item-filter {
  flex-wrap: wrap;
}

.filter-submit {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;

  width: auto;

  padding: 10px 78.5px;
}

.filter-manufacturers,
.filter-supply-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-item-label {
  padding-left: 35px;

  position: relative;

  cursor: pointer;
}

.filter-item-label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  background-position: 0 0;
  background-repeat: no-repeat;

  width: 27px;
  height: 23px;
}

.filter-manufacturer-item::before {
  background-image: url(/img/checkbox-off.svg);
}

.filter-supply-item::before {
  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 16px;
}

.filter-radio:checked + .filter-item-label::after {
  content: "";

  position: absolute;
  top: 33%;
  left: 8.3px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 5px;
}

.filter-checkbox:checked + .filter-item-label::before {
  background-image: url(/img/checkbox-on.svg);
}

.filter-checkbox:checked:hover + .filter-item-label::before,
.filter-checkbox:checked:focus + .filter-item-label::before {
  background-image: url(/img/checkbox-on-hover.svg);
}

.filter-checkbox:hover + .filter-item-label::before,
.filter-checkbox:focus + .filter-item-label::before {
  background-image: url(/img/checkbox-off-hover.svg);
}

.filter-radio:checked:focus + .filter-supply-item::before,
.filter-radio:focus + .filter-supply-item::before,
.filter-radio:checked:focus + .filter-item-label::after,
.filter-radio:focus + .filter-item-label::after {
  border-color: #b5b5b5;
}

/* sort */

.catalog-item-sort {
  display: flex;

  padding: 10px 17px;
  margin-bottom: 28px;

  background-color: #f7f3ec;
}

.sort-wrapper {
  display: flex;

  margin-left: auto;
}

.sort-item-list {
  list-style: none;

  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.sort-item {
  margin-right: 70px;
}

.sort-item:last-child {
  margin: 0;
}

.sort-item-btn {
  display: block;

  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  padding: 0;

  border: none;
  border-bottom: 1px dotted #ee3643;

  background-color: transparent;

  cursor: pointer;
}

.sort-item-btn:hover {
  border-bottom: 1px solid #ee3643;

  color: #000;
}

.sort-item-btn:active,
.sort-item-current .sort-item-btn {
  color: #ee3643;

  border: none;
}

.sort-item-current {
  cursor: default;
}

.sort-item-direction {
  padding-left: 0;
}

.sort-direction-btn {
  display: block;

  padding: 0;

  border: none;

  background-color: transparent;

  cursor: pointer;
}

.sort-item-direction:first-child {
  padding-right: 0;
  margin-right: 21px;
}

.sort-direction-up {
  transform: rotate(180deg);
}

.sort-item-direction-current .sort-direction-icon path {
  fill: #ee3643;
}

.sort-direction-icon {
  display: block;
}

.sort-item-direction:hover .sort-direction-icon path,
.sort-direction-btn:focus .sort-direction-icon {
  fill: #000;
}

.sort-item-direction-current:hover .sort-direction-icon path {
  fill: #ee3643;
}

.sort-direction-btn:active .sort-direction-icon path {
  fill: #ee3643;
}

.sort-item-list-direction {
  margin-left: 40px;
}

/* features */

.features {
  margin-bottom: 30px;
}

.features-list {
  display: grid;
  grid-template-areas:
    "materials tools veachle"
    "slider slider discount"
    "slider slider delivery";
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features-list > li {
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 20px 0 20px 22px;

  margin-bottom: 25px;

  width: 300px;

  box-sizing: border-box;
}

.features-list .features-slider {
  grid-area: slider;

  display: block;

  padding: 0;

  width: 620px;
  height: 266px;

  float: left;
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 9px;
  margin: 0;
}

.features-link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 135px;

  background-color: rgba(255, 255, 255, 0.35);

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;

  text-align: center;
}

.features-link:hover,
.features-link:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.features-link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-list svg {
  position: absolute;
  top: 24.9%;
  right: 10.7%;
}

.features-list .materials-icon {
  right: 15%;
}

.features-list .tools-icon {
  top: 26.9%;
}

.features-list .discount-icon {
  top: 20%;
  right: 15%;
}

.features-materials {
  background-color: #ffbf47;

  grid-area: materials;
}

.features-tools {
  background-color: #3bbce3;

  grid-area: tools;
}

.features-veachle {
  background-color: #dc91d8;

  grid-area: veachle;
}

.features-discount {
  background-color: #8ed78f;

  grid-area: discount;
}

.features-delivery {
  background-color: #ffc047;

  grid-area: delivery;
}

.features-slider figure {
  margin: 0;
}

.new {
  position: relative;
}

.new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 70px;

  background-image: url(/img/new-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider {
  position: relative;
}

.slider-indicators-list {
  position: absolute;
  bottom: 40px;
  left: 48%;

  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;

  border: 1px red;

  list-style: none;

  z-index: 1;
}

.slider-indicator {
  display: block;

  cursor: pointer;

  margin-right: 10px;

  width: 11px;
  height: 11px;

  border-radius: 6px;

  background-color: #fff;
}

.slider-indicator:last-child {
  margin: 0;
}

.slider-indicator-current {
  position: relative;

  cursor: default;
}

.slider-indicator-current::after {
  content: "";

  position: absolute;
  top: 19%;
  right: 18%;

  width: 7px;
  height: 7px;

  border-radius: 4px;

  background-color: red;
}

.slider-indicator-button:focus + .slider-indicator-accessibility {
  width: 11px;
  height: 11px;
  outline: 3px solid brown;
}

.slider-btn {
  position: absolute;
  top: 46%;

  width: 32px;
  height: 33px;

  cursor: pointer;

  font-size: 50px;

  border: none;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  background-color: transparent;

  z-index: 1;
}

.slider-btn-prev {
  transform: rotate(225deg);
  left: 30px;
}

.slider-btn-next {
  transform: rotate(45deg);
  right: 26px;
}

.slider-slide {
  display: none;

  position: relative;
}

.slider-slide-current {
  display: block;
}

.slider-description {
  position: absolute;
  top: 24px;
  left: 24px;
}

.slider-link {
  position: absolute;
  bottom: 33px;
  left: 24px;

  display: block;
  width: 192px;

  box-sizing: border-box;

  padding-top: 11px;
  padding-bottom: 9px;

  background-color: #ee3643;
}

.slider-link:hover,
.slider-link:focus,
.servises-description-credit-link:hover,
.servises-description-credit-link:focus {
  background-color: #ca2c37;
}

.slider-link:active,
.servises-description-credit-link:active {
  background-color: #ba2732;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  padding-bottom: 6px;
}

/* popular items */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f5f0;
  text-transform: uppercase;

  margin-bottom: 16px;

  padding-top: 27px;
  padding-bottom: 27px;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;

  margin: 0;
  padding-left: 28px;
}

.section-header a {
  margin-right: 14px;
  padding: 11px 24px 9px 24px;

  width: 192px;

  box-sizing: border-box;
}

.popular-items,
.popular-manufacturers {
  margin-bottom: 49px;
}

.popular-items-list,
.catalog-item-list,
.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;

  margin-bottom: ;
  :30px ;
}

/* .popular-items-list,
.popular-manufacturers-list {
  margin-bottom: 70px;
} */

.popular-item,
.catalog-item,
.popular-manufacturers-item {
  margin-bottom: 16px;
  margin-right: 20px;

  width: 220px;

  border: 1px solid #eaeaea;

  text-align: center;
  line-height: 20px;

  box-sizing: border-box;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.popular-item:hover .popular-item-image,
.catalog-item:hover .popular-item-image {
  display: none;
}

.popular-item-buttons {
  display: none;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.popular-item:hover .popular-item-buttons,
.catalog-item:hover .popular-item-buttons,
.popular-item-link:focus .popular-item-buttons,
.popular-item-link:focus .popular-item-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  margin-top: 38px;
  margin-bottom: 44px;
}

.item-btn {
  width: 135px;
  height: 38px;
  text-align: center;

  line-height: 20px;
  text-transform: uppercase;

  padding-top: 8px;
  padding-bottom: 9px;

  margin-bottom: 10px;

  border: none;
}

.item-btn:last-child {
  margin: 0;
}

.buy-btn {
  position: relative;

  background-color: #63a63e;

  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;

  color: #ffffff;

  padding-left: 25px;

  z-index: 1;
}

.buy-btn::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 30px;

  width: 15px;
  height: 15px;

  background-image: url(/img/icon-cart.svg);

  opacity: 0.5;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.bookmarks-btn {
  color: #32425c;

  border: 3px solid #63a63e;
}

.bookmarks-btn:hover,
.bookmarks-btn:focus {
  border-color: #32425c;
}

.bookmarks-btn:active {
  opacity: 0.5;
}

.popular-item-link,
.catalog-item-link {
  display: block;

  padding-left: 18px;
  padding-right: 17px;

  margin-top: 12px;

  color: #000000;
  font-weight: 700;
}

.popular-item-link:hover,
.catalog-item-link:hover {
  opacity: 0.75;
}

.popular-item:nth-child(4n),
.catalog-item:nth-child(3n),
.popular-manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.popular-item:hover,
.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 150px;
}

.popular-item p,
.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-align: center;
  text-decoration-line: line-through;
  font-weight: 700;

  margin: 0;
}

.item-current-price {
  position: relative;

  padding: 10px 20px;

  color: #ffffff;
  text-align: center;
  font-weight: 700;

  background-color: #ee3643;

  width: 123px;

  display: block;
  margin: 0 auto;
  margin-bottom: 21px;
  box-sizing: border-box;
}

.item-current-price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -40px;

  border: 20.3px solid transparent;
  border-left: 21px solid #ee3643;
}

/* pagination */

.page-link-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.page-link {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-align: center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  padding: 10px 15px;

  display: block;
}

.page-link-item {
  margin-right: 10px;
}

.page-link-item:last-child {
  margin: 0;
}

.page-link-list {
  display: flex;
}

.page-link:hover,
.filter-submit:hover {
  border-color: #c5c5c5;
}

.page-link:active,
.filter-submit:active {
  border-color: #ee3643;
}

.page-link-current {
  color: #ffffff;

  background-color: #ee3643;
}

/* about-item */

.about-item {
  background-color: #f1f5f7;
}

.about-item-heading {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin-top: 0;
}

.about-item-text {
  font-size: 13px;

  margin: 0;
}

/* popular manufacturers */

.popular-manufacturers-list li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-list li:active {
  opacity: 0.5;
}

.manufacturer-link {
  width: 220px;
  height: 145px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Servises */
.section-wrapper {
  width: auto;

  background-color: #f1f5f7;
}

.servises {
  padding-top: 42px;
}

.servises-info {
  margin-bottom: 70px;
}

.servises h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.servises-description h2 {
  margin: 0;
  margin-bottom: 15px;

  color: #32425c;

  margin-top: 0;
}

.servises-description-text {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  max-width: 394px;

  margin-bottom: 0;
}

.servises-slider-wrapper {
  display: flex;

  width: auto;
}

.servises-list {
  list-style: none;

  margin: 0;
  margin-right: 80px;
  padding: 0;

  width: 240px;

  position: relative;
}

.servises-list::after {
  content: "";

  background-image: url(/img/line-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;

  position: absolute;
  top: -45px;
  bottom: -45px;
  right: 0;

  width: 10px;
}

.servises-list h2 {
  font-size: 21px;
  color: #32425c;
  font-weight: 700;
}

.servises-btn {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;

  width: 240px;

  padding: 14px 22px 17px;

  background-color: #32425c;

  border: none;

  text-align: left;

  cursor: pointer;
}

.servises-btn:hover,
.servises-btn:focus {
  background-color: #293449;

  color: #ffffff;
}

.services-current-btn {
  display: block;

  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  font-weight: 700;

  background-color: #ffffff;

  cursor: default;
}

.services-current-btn:hover,
.services-current-btn:focus {
  background-color: #fff;

  color: #32425c;
}

.services-current-btn:active {
  background-color: #fff;

  color: #32425c;
}

.servises-description-list {
  list-style: none;

  margin: 0;
  padding: 0;

  flex-grow: 1;
}

.servises-description {
  display: none;
}

.services-description-current {
  display: flex;
  flex-direction: column;

  background-position: 100% -21%;
  background-repeat: no-repeat;

  height: 261px;
}

.servises-description-delivery {
  background-image: url(/img/delivery.png);
}

.servises-description-guarantee {
  background-image: url(/img/guarantee.png);
}

.servises-description-credit {
  background-image: url(/img/credit.png);
}

.servises-description-credit-link {
  padding: 10px 44px;
  margin-top: 26px;

  border-radius: 3px;
}

.servises-description-credit-link:hover,
.servises-description-credit-link:focus {
  background-color: #ca2c37;
}

.servises-description-credit-link:active {
  background-color: #ba2732;
}

/* About */

.section-wrapper-about {
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-contacts {
  display: flex;
  flex-direction: row;

  color: black;

  padding-bottom: 70px;
  padding-top: 65px;
}

.about-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about {
  width: 68%;
}

.about-paragraph {
  margin-bottom: 25px;
}

.about-paragraph:nth-child(3) {
  margin-bottom: 2px;
}

.about-delivery-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.about-delivery-item {
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 12px;
  padding-left: 37px;

  position: relative;
}

.about-delivery-item:last-child {
  margin-bottom: 0;
}

.about-delivery-item::before {
  content: "";

  position: absolute;
  top: 43%;
  left: 0;

  background-color: #ee3643;

  width: 25px;
  height: 2px;
}

.about-link {
  padding: 10px 40px;
}

/* Контакты  */
.contacts {
  width: 32%;
}

.contacts-header {
  margin-bottom: 24px;
}

.contacts-paragraph {
  margin: 0;
  margin-bottom: 32px;
}

.contacts-map-link {
  display: block;

  margin-bottom: 19px;
}

.contacts-link {
  display: block;

  padding: 10px 61px;
}
/* footer */

.upper-footer-wrapper {
  background-color: #32425c;

  padding-bottom: 54px;
}

.upper-footer {
  display: flex;
  flex-wrap: nowrap;
}

.upper-footer-contacts-wrapper {
  display: flex;
  flex-direction: column;

  width: 390px;
}

.footer-logo {
  width: 220px;

  margin-bottom: 30px;
}

.footer-logo img {
  padding: 20px 41px;

  display: block;
}

.main-footer p {
  color: #f3f7f9;

  padding-left: 3px;
}

.upper-footer-contacts {
  margin: 0;
}

.main-footer ul {
  list-style: none;
  padding: 0;
}

.footer-site-nav {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer-nav li {
  margin-left: 59px;
}

.footer-nav a:hover,
.footer-nav a:focus,
.breadcrumb-item-link:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
}

.footer-site-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-site-nav a {
  color: #f1f5f7;
}

.footer-catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0;
}

.footer-catalog-list a {
  color: #ffd180;
}

/* bottom footer */

.bottom-footer-wrapper {
  background-color: #293449;
}

.bottom-footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  padding-top: 34px;
  padding-bottom: 34px;

  display: flex;
}

.bottom-footer-copyright {
  margin: 0;

  width: 240px;
}

.bottom-footer a {
  color: #ffd180;
}

.bottom-footer a:hover {
  text-decoration-line: underline;
}

.bottom-footer a:active {
  color: #ee3643;
}

.bottom-footer-socials-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0 auto;

  width: 160px;
}

.social-item {
  margin-right: 2px;
}

.social-item:last-child {
  margin: 0;
}

.bottom-footer-socials {
  display: block;

  width: 44px;
  height: 44px;

  background-color: #212a3a;

  border-radius: 22px;

  background-position: center center;
  background-repeat: no-repeat;
}

.bottom-footer-socials:hover,
.bottom-footer-socials:focus {
  background-color: #ee3643;
}

.socials-vk {
  background-image: url(/img/vk-icon.svg);
}

.socials-fb {
  background-image: url(/img/fb-icon.svg);
}

.socials-insta {
  background-image: url(/img/insta-icon.svg);
}

.footer-contact-link,
.footer-deloveped {
  width: fit-content;
  margin: 0;
}

.bottom-footer-contacts {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

/* cart */

/* Карта */
.modal {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);

  border-top: 7px solid #ff5357;

  z-index: 5;

  box-sizing: border-box;
}

.modal-map {
  position: fixed;
  top: 33%;
  left: 25.35%;

  height: 449px;
  width: 943px;
}

.modal-close {
  position: absolute;
  top: 5%;
  right: 2%;

  width: 27.5px;
  height: 4px;

  background-color: transparent;

  border: 0;
}

.modal-close::after,
.modal-close::before {
  content: "";

  position: absolute;
  top: 5%;
  right: 2%;

  width: 27.5px;
  height: 4px;

  background-color: #ee3643;

  cursor: pointer;

  display: block;
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-close::before {
  transform: rotate(-45deg);
}

/* Обратная связь */
.modal-contact-us {
  position: fixed;
  top: 33%;
  left: 33%;

  width: 620px;

  background-color: #fff;
}

.modal-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  line-height: 24px;

  padding-top: 46px;
  padding-bottom: 37px;
}

.modal-form-input-label {
  color: #000;
  text-align: left;

  display: flex;
  flex-direction: column;

  font-size: 18px;
}

.modal-form-input-label:first-child {
  margin-right: 20px;
}

.modal-form-input {
  box-sizing: border-box;

  border: 2px solid #c5c5c5;
  border-radius: 1px;

  font-size: 13px;

  padding: 7px 12px;
}

.form-input-email,
.form-input-name {
  width: 220px;
}

.form-input-textarea {
  min-width: 465px;
  max-width: 465px;

  min-height: 60px;
  max-height: 120px;
}

.submit-wrapper {
  width: auto;

  background-color: #f4f4f4;

  padding: 37px 80px;

  margin-top: auto;
}

.btn-submit {
  text-transform: uppercase;

  border: none;

  background-color: #ee3643;
  padding: 10px 0;

  width: 460px;

  cursor: pointer;

  color: #fff;
}

/* cart */

.modal-cart {
  position: fixed;
  top: 37%;
  left: 35.35%;

  height: 282px;
  width: 620px;
}

.cart-confirmation-wrapper {
  background-color: #fff;

  background-image: url(/img/OK.png);
  background-position: 15% center;
  background-repeat: no-repeat;

  padding: 66px 99px;
}

.cart-confirmation-heading {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  margin: 0;

  text-align: center;
}

.cart-added {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  text-align: center;
}

.cart-confirmation-buttons {
  display: flex;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f1f1f1;

  padding: 37px 112px;
}

.cart-checkout {
  color: #fff;

  background-color: #ee3643;

  margin-right: 10px;
}

.cart-continue {
  background-color: #ffffff;

  border: none;

  text-transform: uppercase;
}

.cart-continue,
.cart-checkout {
  display: block;

  width: 192px;

  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
}
